.formacao {
    text-align: center;
    background: #FE0142;
    padding: 50px;
}

h5 {
    font-size: 32px;
    margin: 0;
    color: white;
}

.p_bloco_formacao {
    color: white;
}

h1 {
    max-width: 368px;
    color: white;
}

.ul_formacao {
    padding: 0;
    list-style: none;
}


.bloco_formacao {
    display: inline-block;
    margin: 10px;
    margin-top: 16px;
}

@media screen and (max-width: 450px) {
    .formacao {
        padding: 50px 0px;
     }
}
