.skills {
    text-align: center;
    padding: 50px;
    background: black;
}

.ul_skills {
    padding: 0px;
    margin-top: 16px;
}

h4 {
    font-size: 32px;
    margin: 0;
    color: white;
}


.tituto_skills {
    text-align: center;
}

.bloco_skill {
    display: inline-block;
    margin: 7px;
}

.section_projetos {
    margin-bottom: 50px;
}
