

.inicio {
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    margin: 65px auto;
    padding: 150px 25px;
    justify-content: space-between;
    background: black;
    margin: auto;
}

.rosto_mobile {
    display: none;
}

#github {
 margin-left: 0; 
}


h2 {
    font-size: 52px;
    max-width: 900px;
    color: white;
}

.texto_inicio {
    line-height: 20px;
    max-width: 900px;
    color: white;
}

@keyframes float {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(-30px);
    }
    100% {
        transform: translate(0px);
    }
}

.menu_segundario {
    display: inline-block;
    margin: 0px 20px 0px 0px;
    color: white;
}

.menu_segundario:hover {
    color: #FE0142;
    cursor: pointer;
}

.ul_segundario {
    padding: 0;
}

.mobile-rosto {
    display: none;
}

.vector {
    margin-left: 5px;
}

@media screen and (max-width: 950px) {
    .mobile-rosto {
        max-width: 100%;
        display: block;
        margin: auto;
    }

    .rosto {
        display: none;
     }
}

@media screen and (max-width: 450px) {
    .rosto {
        display: none;
     }

     .rosto_mobile {
        display: block;
        width: 100%
     }

     .inicio {
        padding: 0px 33px;
        margin: 0px;
     }

     .texto_inicio {
        margin-top: 33px;
        text-align: center;
     }

     h2 {
        text-align: center;
        width: 100%;
        font-size: 40px;
     }

     .ul_segundario {
        text-align: center;
     }

     .menu_segundario {
        margin: 9px;
     }

     .mobile-rosto {
        max-width: 100%;
        display: block;
    }
}